		span
		{
			font-size:12px;
			color:gray;
		}
		body{
			margin:0;
			background:#020203;
		}
		video{
			position:fixed;  
			right:0;
			bottom:0;
			min-width:100%;
			min-height:100%;
			width:auto;
			height:auto;
			z-index:-9999;
		}  
		.logo{ 
			background:url(img/logo.png) no-repeat;
			width:103px;
			height:115px;
			left:100px;
			position:absolute;
			top:50px; 
			display:block;
			background-size:cover;
		}

	div.dl{
			font-size:16px;
			margin-left:1000px;
			margin-top:100px;
			padding:0;
			color:gray;
			}
		.dlz{
			text-decoration:none;
			color:red;
		}
		.db{
			color:white;
			text-align:center;
			margin-top:550px;
		}
		.db a{
			text-decoration:none;
			color:#b1b1b1;
			font-size:10px;
		}
		.db2{
			color:#b1b1b1;
			text-align:center;
			font-size:10px;
		}