<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/jquery-1.11.3.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/tuandui.css"/>
    <script src="js/header.js"></script>
    <script src="js/footer.js"></script>
</head>
<body>
    <!-- header -->
    <div class="header">
            <div id="top-1">
                <img class="bc" src="img/header/header.png">
                <div class="logo"><img src="img/header/logo.jpg" ></div>
                
                <h1 class="top-h1">MOTOR</h1>
                <div class="mobile-menu-icon">
                  <i class="fa "></i>
                </div>
                <table></table>
                <div class="top-nav">
                      <nav id="top-navbar" >
                          <ul>
                              <li><a href="http://localhost:3000/index.html" >首页</a></li>
                              <li><a href="all_car.html" target="_blank" >全部车型</a></li>
                              <li><a href="http://localhost:3000/kehu.html" target="_blank" class="active">客户业务</a></li>
                              <li><a href="http://localhost:3000/financial.html" target="_blank">金融服务</a></li>
                              <li id="top2-navbar"><a style="cursor: pointer;">其它</a>
                                <ul>
                                  <li class="login-register"><a class="login" href="http://127.0.0.1:3000/dl.html">登陆</a><a class="register position-absolute" href="http://127.0.0.1:3000/zc.html">注册</a></li>
                                  <li><a href="http://127.0.0.1:3000/tdjs.html">团队介绍</a></li>
                                </ul>
                              </li>
                          </ul>      
                      </nav>
                    </div>
            </div>
          </div>
    <!--  -->
    <div class="container">
    <!--第一部分-->
   <h2>BMW集团：您值得信赖的合作伙伴</h2>
    <span class="font_small">BMW集团始终关护您的成功。我们真诚地坚持将效率、驾驶乐趣和环境责任相结合。同时，我们
        坚信这一结合最终会为您和您的公司转化成更低的总体拥有成本、激发更大的员工积极性
        和实现更多的企业社会责任。</span>
    <img src="img/kehu/1.jpg" alt="" class="margin-tb abcd">
    <h2>全新全力着眼于客户需求</h2>
    <span class="font_small">对于BMW大客户销售团队而言，我们认可每一家企业所展现的不同特质。无论企业规模是大
        还是小、经营范围是面向国际还是本地，我们团队资深的专业领域专家都将理解并竭力满足您的业务需求。
        如今的车队管理注重的不再只是车辆价格，还有剩余价值、税费、耗油量等其他影响租赁率的成本要素。简而言之：
        更注重总体拥有成本。</span>
    <!--第一部分下拉式菜单-->
<div class="margin-tb">
    <div class="card">
        <div class="card-header">
            <a href="#one" class="card-link" data-toggle="collapse"><h5 class="h5-b">优惠条件</h5></a>
        </div>
        <div id="one" class="collapse" data-parent="#acco">
            <div class="card-body">
                您将能够获得作为大客户所能享受到的优惠折扣以及具有强大吸引力的各项激励方案。
            </div>
        </div>
    </div>
    <!--2-->
    <div class="card">
        <div class="card-header">
            <a href="#two" class="card-link" data-toggle="collapse"><h5 class="h5-b">更优保值</h5></a>
        </div>
        <div id="two" class="collapse" data-parent="#acco">
            <div class="card-body">
                BMW和MINI的优良品质和品牌价值确保所有车型都具有更佳的保值性。
            </div>
        </div>
    </div>
    <!--3-->
    <div class="card">
        <div class="card-header">
            <a href="#throw" class="card-link" data-toggle="collapse"><h5 class="h5-b">低耗油量</h5></a>
        </div>
        <div id="throw" class="collapse" data-parent="#acco">
            <div class="card-body">
                BMW高效动力 (BMW Efficient Dynamics) 和MINI经济节能 (MINIMALISM) 技术确保以较低的油耗量和排放量
                ，实现高效的动力输出。
            </div>
        </div>
    </div>
</div>
   <!--第二部分-->
    <img src="img/kehu/2.jpg" alt="" class="margin-tb  abcd">
    <h2>企业购车方案</h2>
    <span class="font_small">BMW为企业以及企业员工量身定制了多项服务，在满足用户购车需求的同时，提供更加多样化的
        服务。</span>
    <!--第一部分下拉式菜单-->
    <div class="margin-tb">
        <div class="card">
            <div class="card-header">
                <a href="#a" class="card-link" data-toggle="collapse"><h5 class="h5-b">企业购车优势</h5></a>
            </div>
            <div id="a" class="collapse" data-parent="#acco">
                <div class="card-body">
                    <ul>
                        <li>BMW售 B辆体验计划</li>
                        <li>针对集中采购量身打造的销售解决方案</li>
                        <li>基于企业客户需求的金融服务方案</li>
                        <li>内容丰富多彩的市场活动（如BMW体育赛事、BMW体验日等）</li>
                        <li>BMW车辆试乘试驾活动</li>
                        <li>24小时BMW车辆道路救援</li>
                        <li>为车辆更新及回购需求提供帮助</li>
                        <li>提供富有竞争力的销售折扣方案</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--2-->
        <div class="card">
            <div class="card-header">
                <a href="#b" class="card-link" data-toggle="collapse"><h5 class="h5-b">企业购车优势</h5></a>
            </div>
            <div id="b" class="collapse" data-parent="#acco">
                <div class="card-body">
                    <ul>
                        <li>BMW售前车辆体检计划（针对企业核心高管）</li>
                        <li>BMW专属客户活动</li>
                        <li>BMW客户活动</li>
                        <li>BMW车辆道路救援服务</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--第三部分-->
    <img src="img/kehu/3.jpg" alt="" class="margin-tb  abcd">
    <h2>星级酒店购车方案</h2>
    <span class="font_small">BMW为五星酒店礼宾用车和礼宾租赁用车提供优惠的购车方案。并致力于同酒店一起，为每一位客人
        带来私人化的尊享服务和高品质的豪华体验。</span>
    <!--第一部分下拉式菜单-->
    <div class="margin-tb">
        <div class="card">
            <div class="card-header">
                <a href="#d" class="card-link" data-toggle="collapse"><h5 class="h5-b">与酒店集团的业务合作</h5></a>
            </div>
            <div id="d" class="collapse" data-parent="#acco">
                <div class="card-body">
                    BMW为酒店类大客户采购礼宾车提供销售支持，凯宾斯基，万豪等酒店都选用BMW品牌的车辆作为礼宾车。优异的
                    产品品质和锐意进取的品牌内涵，令BMW一直是全球酒店业巨头高端商务礼宾用车的默契合作伙伴。
                </div>
            </div>
        </div>
        <!--2-->
        <div class="card">
            <div class="card-header">
                <a href="#e" class="card-link" data-toggle="collapse"><h5 class="h5-b">市场合作</h5></a>
            </div>
            <div id="e" class="collapse" data-parent="#acco">
                <div class="card-body">
                    为了达到双方品牌市场共赢的目的，BMW同五星酒店开展着多样化的市场合作，例如为酒店举行礼宾车队交车仪
                    式，邀请酒店客户参与参加BMW市场活动，支持亚洲酒店论坛，中国优选设计酒店等酒店行业机构的活动。
                </div>
            </div>
        </div>
    </div>
    <!--第三部分    end   ，第四部分-->
    <img src="img/kehu/4.jpg" alt="" class="margin-tb  abcd">
    <h2>租赁公司购车方案</h2>
    <span class="font_small">BMW为租赁公司提供了更加人性化的关怀，除丰富的产品体验外，还为您的驾驶员提供专业知识及技
        巧培训。BMW二手车网上交易系统，为您提供更好的车辆残值保障。</span>
    <!--第一部分下拉式菜单-->
    <div class="margin-tb">
        <div class="card">
            <div class="card-header">
                <a href="#f" class="card-link" data-toggle="collapse"><h5 class="h5-b">租赁公司品牌互动</h5></a>
            </div>
            <div id="f" class="collapse" data-parent="#acco">
                <div class="card-body">
                    <br/>1.租赁客户品牌体验日
                    面向全国范围举办的租赁客户品牌体验日活动，邀您一起体验BMW品厚的内涵以及丰富的产品线，在轻松
                    愉悦的氛围中与您共建美好的合作。
                    <br/>2.赞助租赁行业协会活动
                    BMW倾情赞助行业内颇具口碑的协会会议及活动，为您提供行业内够的平台。
                    <br/>3.租赁公司驾驶培训
                    为您的驾驶员提供专业的驾驶技巧及产品知识方面的培训，与您共打造高效的销售团队。
                </div>
            </div>
        </div>
        <!--2-->
        <div class="card">
            <div class="card-header">
                <a href="#g" class="card-link" data-toggle="collapse"><h5 class="h5-b">终端用户客户关怀</h5></a>
            </div>
            <div id="g" class="collapse" data-parent="#acco">
                <div class="card-body">
                    我们为您的重要客户预留了BMW市场活动的席位，例如BMW全系体验，BMW高尔夫赛事，新产品上市活动等。让您的客
                    户体会到BMW对VIP客户提供的客户关怀，为您的客户关怀体系增添多样化，提高客户满意度。
                </div>
            </div>
        </div>
        <!--3-->
        <div class="card">
            <div class="card-header">
                <a href="#h" class="card-link" data-toggle="collapse"><h5 class="h5-b">车辆残值保障</h5></a>
            </div>
            <div id="h" class="collapse" data-parent="#acco">
                <div class="card-body">
                    二手车处置是租赁行业盈利的关键之一，对于租赁公司而言，可靠的残值保障系统是业务开展中重要的
                    环节。我们为您提供BMW二手车网上交易系统-内部B2B网拍系统，面向百余家BMW官方认证二手车经销商，
                    为您提供更好的车辆残值保障。<br/>
                    联系我们： corporatesales@bmw-brip[lliance.cn
                </div>
            </div>
        </div>
    </div>
    <!--第四部分end  信息框-->
    <h1 class="mb-3 mt-2">企业及员工申请</h1>
    <h5>您的联系信息</h5>
    <form method="get" id="form1" action="tuandui.html" target="nm_iframe">
      <table>
        <tr>
            <td id="table_tr">称谓</td>
            <td id="table_td">
                <select name="form" class="table_text">
                    <option value="" selected>请选择称谓</option>
                    <option value="">先生</option>
                    <option value="">女士</option>
                </select>
            </td>

        </tr>
        <tr>
            <td>姓名</td>
            <td><input type="text" class="table_text" name="uname_u" v-model="uname_u" @blur="ce()"></td>
            <td class="info_name_true d_n">&nbsp;&nbsp;&nbsp;&nbsp;输入完成&nbsp;&nbsp;&nbsp;&nbsp;<img src="img/kehu/true.png" alt="" children></td>
            <td class="info_name_false d_n">&nbsp;&nbsp;&nbsp;&nbsp;此处不能为空哦&nbsp;&nbsp;&nbsp;&nbsp;<img src="img/kehu/false.png" alt="" children></td>
            
        </tr>
        <tr>
            <td>QQ联系方式</td>
            <td><input type="text" class="table_text" name="qq" v-model="qq" @blur="ceqq()"></td>
            <td class="info_qq_true d_n">&nbsp;&nbsp;&nbsp;&nbsp;输入完成&nbsp;&nbsp;&nbsp;&nbsp;<img src="img/kehu/true.png" alt="" children></td>
            <td class="info_qq_false d_n">&nbsp;&nbsp;&nbsp;&nbsp;请填写正确的QQ号码&nbsp;&nbsp;&nbsp;&nbsp;<img src="img/kehu/false.png" alt="" children></td>
        </tr>
        <tr>
            <td>所在城市</td>
            <td class="row">
                <div class="col-6">省</div>
                <div class="col-6">市</div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="row">
                <div class="col-6">
                    <select name="form" id="ld_1" @change=" cd()" class="table_text">
                        <option value="">请选择</option>
                        <option value="0">浙江省</option>
                        <option value="1">湖北省</option>
                        <option value="2">广东省</option>
                    </select>
                </div>
                <div class="col-6">
                <select name="form" id="select" class="table_text">
                    <option value="">请选择</option>
                </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>公司名称</td>
            <td><input type="text" class="table_text" name="gs" v-model="gs" @blur="cegs()"></td>
            <td class="info_gs_true d_n">&nbsp;&nbsp;&nbsp;&nbsp;输入完成&nbsp;&nbsp;&nbsp;&nbsp;<img src="img/kehu/true.png" alt="" children></td>
            <td class="info_gs_false d_n">&nbsp;&nbsp;&nbsp;&nbsp;此处不能为空哦&nbsp;&nbsp;&nbsp;&nbsp;<img src="img/kehu/false.png" alt="" children></td>
        </tr>
        <tr>
            <td>手机号码</td>
            <td><input type="text" class="table_text" name="number" v-model="number" @blur="cenumber"></td>
            <td class="info_number_true d_n">&nbsp;&nbsp;&nbsp;&nbsp;输入完成&nbsp;&nbsp;&nbsp;&nbsp;<img src="img/kehu/true.png" alt="" children></td>
            <td class="info_number_false d_n">&nbsp;&nbsp;&nbsp;&nbsp;请输入正确的手机号码&nbsp;&nbsp;&nbsp;&nbsp;<img src="img/kehu/false.png" alt="" children></td>
        </tr>
        <tr>
            <td>您感兴趣的车型</td>
            <td>
                <select name="form"class="table_text" >
                    <option value="" selected>请选择</option>
                    <option value="">BWM M6四门轿跑</option>
                    <option value="">BWM X6</option>
                    <option value="">BWM X5</option>
                    <option value="">BWM I8</option>
                    <option value="">纯电动 BWM i3</option>
                    <option value="">新BWM 混合动力</option>
                    <option value="">BWM M5</option>
                    <option value="">BWM M4敞篷跑车</option>
                    <option value="">BWM M4双座跑车</option>
                    <option value="">BWM M3</option>
                    <option value="">BWM X3</option>
                  
                   
                </select>
            </td>
        </tr>
        <tr>
            <td>输入您的邮箱</td>
            <td>
                <input type="text" class="table_text" name="email" v-model="email" @blur="ceemail()">
            </td>
            <td class="info_email_true d_n">&nbsp;&nbsp;&nbsp;&nbsp;输入完成&nbsp;&nbsp;&nbsp;&nbsp;<img src="img/kehu/true.png" alt="" children></td>
            <td class="info_email_false d_n">&nbsp;&nbsp;&nbsp;&nbsp;请输入正确的邮箱地址&nbsp;&nbsp;&nbsp;&nbsp;<img src="img/kehu/false.png" alt="" children></td>
        </tr>
        <tr>
            <td><input type="checkbox" id="checkbox" @click="check()"><label for="checkbox">我已经阅读法律声明</label></td>
            <td></td>
        </tr>
        <tr>
            <td><input type="button" class="btn btn-success w-100 mt-2 mb-5" @click="submit()" id="submit" value="提交"></td>
            <td></td>
        </tr>

    </table>
    </form>
</div>
   <footer id="footer"></footer>
    <script src="js/vue.js"></script>
    <script>
       
        //info_name_true.style.display="none";
        //info_name_false.style.display="none";
        
       
       
       
        new Vue({
            el:"#form1",
            data:{
                uname_u:"",
                info1:"",
                gs:"",
                qq:"",
                number:"",
                email:"",
                city:[],
                istrue:false
            },
            mounted:()=>{
              $("#submit").attr({"disabled":"disabled"})
            },
            methods:{
                check(){
                    var check=$("#checkbox").is(':checked');
                    console.log(check)
                  if(!check){
                    $("#submit").attr({"disabled":"disabled"})
                }else{
                    $("#submit").removeAttr("disabled")
                }
                },
                cd(){
                    
                    this.city[0]=['杭州市','丽水市','温州市','台州市','宁波市'];
                    this.city[1]=['武汉','广水市','孝感市','荆州','黄冈市'];
                    this.city[2]=['厦门市','广州市','佛山市','深圳市','汕尾市','中山市','肇庆市'];
                    var select=document.getElementById("select");
                    var ld_1=document.getElementById("ld_1");
                    var m=ld_1.selectedIndex-1;
                    
                    select.innerHTML="";
                   for(var i=0;i<this.city[m].length;i++){
                       
                       var op=new Option(this.city[m][i],i);
                       select.appendChild(op);
                       
                   };
                },
                ce(){
                    if(this.uname_u){
                    document.querySelector(".info_name_true").style.display="block",
                    document.querySelector(".info_name_false").style.display="none"
                   } else {
                    document.querySelector(".info_name_false").style.display="block",
                    document.querySelector(".info_name_true").style.display="none"}
                },
                cegs(){
                    if(this.gs){
                    document.querySelector(".info_gs_true").style.display="block",
                    document.querySelector(".info_gs_false").style.display="none"
                   } else {
                    document.querySelector(".info_gs_false").style.display="block",
                    document.querySelector(".info_gs_true").style.display="none"}
                },
                ceqq(){
                    var zznumber=/^[1-9][0-9]{4,11}$/;
                    if(zznumber.test(this.qq)){
                    document.querySelector(".info_qq_true").style.display="block",
                    document.querySelector(".info_qq_false").style.display="none"
                   } else {
                    document.querySelector(".info_qq_false").style.display="block",
                    document.querySelector(".info_qq_true").style.display="none"}
                },
                cenumber(){
                    var zznumber=/^1[345678]\d{9}$/;
                    if(zznumber.test(this.number)){
                    document.querySelector(".info_number_true").style.display="block",
                    document.querySelector(".info_number_false").style.display="none"
                   } else {
                    document.querySelector(".info_number_false").style.display="block",
                    document.querySelector(".info_number_true").style.display="none"}
                },
                ceemail(){
                    var zzemail=/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
                    if(zzemail.test(this.email)){
                    document.querySelector(".info_email_true").style.display="block",
                    document.querySelector(".info_email_false").style.display="none"
                   } else {
                    document.querySelector(".info_email_false").style.display="block",
                    document.querySelector(".info_email_true").style.display="none"}
                },
                submit(){
                    if(!this.istrue){
                    this.ce();
                    this.cegs();
                    this.ceqq();
                    this.cenumber();
                    this.ceemail();
                    alert("未添加正确信息")
                    this.istrue=true
                }
                   else{
                    alert("预约成功")
    location.href='http://127.0.0.1:3000/financial.html';
    this.istrue=false
                   }
                }
            }
        })
    </script>

</body>
</html>